.CallButton {
  width: 70px;
  height: 26px;
  border-radius: 4px;
  margin-left: 10px;
}

.CallButton:hover {
  cursor: pointer;
}

.CallGreenButton {
  border: 1px solid #28a879;
  background: #dbf8ef;
  color: #28a879;
}
