.UserCallsInfo {
    width: 100%;
    padding: 20px 0;
}

.UserAccountInfo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.UserAccount_Balance {
    background: white;
    padding: 10px 12px;
    border-radius: 48px;
    display: flex;
    align-items: center;
}

.UserAccount_Balance span {
    color: #899CB1;
}

.UserAccount_Balance img {
    width: 24px;
    height: 24px;
    margin-left: 7px;
}

.UserAccount_Balance img:hover {
    cursor: pointer;
}

.UserAccount_calls_start_day {
    margin-left: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.UserAccount_calls_start_day img {
    cursor: pointer;
}

.UserAccount_calls_start_day span {
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.UserAccount_calls_start_day span span{
    margin: 0 0 0 5px;
    color: #005FF8;
}

.UserCallsSort {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #899CB1;
    font-size: 14px;
    padding: 20px 0;
}

.UserCallsSort_search img {
    margin-right: 10px;
}

.UserCallsSort_categories {
    width: 60%;
    justify-content: space-between;
}

.SortCategorie {
    position: relative;
}

.SortCategorie :hover {
    cursor: pointer;
}

.SortCategorie_options{
    position: absolute;
    top: 100%;
    width: 100px;
    height: 50px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
    padding: 5px 15px ;
    border-radius: 10px;
}

.SortCategorie_options div {
    margin: 10px 0; 
}